In [1]:
import pandas as pd

C:\Users\DELL\AppData\Local\Temp\ipykernel_9840\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
data = pd.read_json("no_pii_grievance_v2\\no_pii_grievance_v2.json")
data.head()

,_id,CategoryV7,DiaryDate,UserCode,closing_date,dist_name,org_code,pincode,recvd_date,registration_no,remarks_text,resolution_date,sex,state,subject_content_text,v7_target
0,MORLY/E/2023/0000001,{'$numberLong': '11578'},{'$date': '2023-01-01T00:00:19.977+0000'},110124.0,{'$date': '2023-01-04T00:00:00.000+0000'},North 24 Parganas,MORLY,700130,{'$date': '2023-01-01T00:00:19.977+0000'},MORLY/E/2023/0000001,"As per railway record, there is no authoriz...",{'$date': '2023-01-04T00:00:00.000+0000'},M,WB,"Railways, ( Railway Board) >> Miscellaneous\r\...",No
1,GOVUP/E/2023/0000001,None,{'$date': '2023-01-01T00:01:29.780+0000'},45427.0,{'$date': '2023-01-24T00:00:00.000+0000'},NaN,GOVUP,203001,{'$date': '2023-01-01T00:01:28.567+0000'},GOVUP/E/2023/0000001,NaN,NaN,M,UP,XAXPX/X/X0X2X4X0X0\tREGARDING CBCID INSPECTION...,NaN
2,MOLBR/E/2023/0000001,{'$numberLong': '2369'},{'$date': '2023-01-01T00:01:45.593+0000'},1356254.0,{'$date': '2023-01-12T00:00:00.000+0000'},Hyderabad,MOLBR,500023,{'$date': '2023-01-01T00:01:45.593+0000'},MOLBR/E/2023/0000001,"Sir/Madam, With reference to Grievance no. XO...",{'$date': '2023-01-12T00:00:00.000+0000'},M,TG,Labour and Employment >> PF Withdrawal >> Othe...,No
3,MOLBR/E/2023/0000002,{'$numberLong': '2379'},{'$date': '2023-01-01T00:02:07.247+0000'},1092136.0,{'$date': '2023-01-06T00:00:00.000+0000'},Nagpur,MOLBR,440001,{'$date': '2023-01-01T00:02:07.247+0000'},MOLBR/E/2023/0000002,Please submit establishment clarification let...,{'$date': '2023-01-06T00:00:00.000+0000'},M,MH,Labour and Employment >> Pension >> Others\r\n...,No
4,GOVUP/E/2023/0000002,None,{'$date': '2023-01-01T00:02:25.663+0000'},45427.0,{'$date': '2023-01-24T00:00:00.000+0000'},NaN,GOVUP,203001,{'$date': '2023-01-01T00:02:24.913+0000'},GOVUP/E/2023/0000002,NaN,NaN,M,UP,XAXPX/X/X0X2X4X0X8\tREGARDING CBCID INSPECTION...,NaN

In [3]:
len(data)

175784

In [4]:
data.isna().sum()

_id                          0
CategoryV7              112162
DiaryDate                    0
UserCode                 77687
closing_date             13419
dist_name                52976
org_code                   383
pincode                  14282
recvd_date                   0
registration_no              0
remarks_text             68880
resolution_date          68880
sex                          0
state                      263
subject_content_text         0
v7_target               119121
dtype: int64

In [5]:
data.drop(['DiaryDate','closing_date','dist_name','pincode','recvd_date','sex','state'],inplace=True,axis=1)

In [6]:
data.head()

,_id,CategoryV7,UserCode,org_code,registration_no,remarks_text,resolution_date,subject_content_text,v7_target
0,MORLY/E/2023/0000001,{'$numberLong': '11578'},110124.0,MORLY,MORLY/E/2023/0000001,"As per railway record, there is no authoriz...",{'$date': '2023-01-04T00:00:00.000+0000'},"Railways, ( Railway Board) >> Miscellaneous\r\...",No
1,GOVUP/E/2023/0000001,None,45427.0,GOVUP,GOVUP/E/2023/0000001,NaN,NaN,XAXPX/X/X0X2X4X0X0\tREGARDING CBCID INSPECTION...,NaN
2,MOLBR/E/2023/0000001,{'$numberLong': '2369'},1356254.0,MOLBR,MOLBR/E/2023/0000001,"Sir/Madam, With reference to Grievance no. XO...",{'$date': '2023-01-12T00:00:00.000+0000'},Labour and Employment >> PF Withdrawal >> Othe...,No
3,MOLBR/E/2023/0000002,{'$numberLong': '2379'},1092136.0,MOLBR,MOLBR/E/2023/0000002,Please submit establishment clarification let...,{'$date': '2023-01-06T00:00:00.000+0000'},Labour and Employment >> Pension >> Others\r\n...,No
4,GOVUP/E/2023/0000002,None,45427.0,GOVUP,GOVUP/E/2023/0000002,NaN,NaN,XAXPX/X/X0X2X4X0X8\tREGARDING CBCID INSPECTION...,NaN

In [7]:
data.columns

Index(['_id', 'CategoryV7', 'UserCode', 'org_code', 'registration_no',
       'remarks_text', 'resolution_date', 'subject_content_text', 'v7_target'],
      dtype='object')

In [8]:
l=data['UserCode'].unique()
len(l)

35900

In [9]:
l=data['registration_no'].unique()
len(l)

175784

In [10]:
l=data['_id'].unique()
len(l)

175784

In [11]:
subdf = data[data['_id']!=data['registration_no']]
subdf.head()

Empty DataFrame
Columns: [_id, CategoryV7, UserCode, org_code, registration_no, remarks_text, resolution_date, subject_content_text, v7_target]
Index: []

In [12]:
data.drop(['registration_no'],inplace=True,axis=1)

In [13]:
data.drop(['resolution_date'],inplace=True,axis=1)

In [14]:
data.columns

Index(['_id', 'CategoryV7', 'UserCode', 'org_code', 'remarks_text',
       'subject_content_text', 'v7_target'],
      dtype='object')

In [15]:
l=data['v7_target'].unique()
# len(l)
# for i in l:
    # print(i)
data[data['v7_target']=='No']
# print(len(data[data['v7_target']=='No']))
# print(len(data[data['v7_target'].isna()]))

,_id,CategoryV7,UserCode,org_code,remarks_text,subject_content_text,v7_target
0,MORLY/E/2023/0000001,{'$numberLong': '11578'},110124.0,MORLY,"As per railway record, there is no authoriz...","Railways, ( Railway Board) >> Miscellaneous\r\...",No
2,MOLBR/E/2023/0000001,{'$numberLong': '2369'},1356254.0,MOLBR,"Sir/Madam, With reference to Grievance no. XO...",Labour and Employment >> PF Withdrawal >> Othe...,No
3,MOLBR/E/2023/0000002,{'$numberLong': '2379'},1092136.0,MOLBR,Please submit establishment clarification let...,Labour and Employment >> Pension >> Others\r\n...,No
10,DOTEL/E/2023/0000001,{'$numberLong': '60'},20318.0,DOTEL,The reply of 6 numbers of PG cases by Shri Ra...,Telecommunications >> Suggestions >> Others\r\...,No
17,MOLBR/E/2023/0000003,{'$numberLong': '2398'},1356254.0,MOLBR,"With reference to member grievance , it is to...",Labour and Employment >> Transfer related issu...,No
...,...,...,...,...,...,...,...
175775,DEAID/E/2023/0007864,{'$numberLong': '374'},111682.0,DEAID,We have checked the details with the relevant...,Financial Services (Insurance Division) >> Age...,No
175776,MOLBR/E/2023/0010863,{'$numberLong': '2358'},150404.0,MOLBR,"Sir, with reference to the member grievance, ...",Labour and Employment >> Others (EPFO)\r\n\r\n...,No
175779,UIDAI/E/2023/0001182,{'$numberLong': '7753'},NaN,UIDAI,"Dear Resident ,\r\nPlease register your compl...","मै एक csc e gov. का एक साधारण vle हूँ, मैंने ...",No
175780,DPOST/E/2023/0004221,{'$numberLong': '77'},785742.0,DPOST,"Sir,\r\n This Article is delivered on dated 25...",Posts >> Delay/ Non - Delivery/Abstraction of ...,No
175782,MOLBR/E/2023/0010864,{'$numberLong': '2378'},1722766.0,MOLBR,"Sir/Madam, you are hereby advised to apply fo...",Labour and Employment >> Pension >> Transfer i...,No

In [16]:
subdf = data[data['v7_target'].isna()]
subdf.head()

,_id,CategoryV7,UserCode,org_code,remarks_text,subject_content_text,v7_target
1,GOVUP/E/2023/0000001,None,45427.0,GOVUP,NaN,XAXPX/X/X0X2X4X0X0\tREGARDING CBCID INSPECTION...,NaN
4,GOVUP/E/2023/0000002,None,45427.0,GOVUP,NaN,XAXPX/X/X0X2X4X0X8\tREGARDING CBCID INSPECTION...,NaN
5,GOVUP/E/2023/0000003,None,45427.0,GOVUP,NaN,XAXPX/X/X0X2X4X0X7\tREGARDING CBCID INSPECTION...,NaN
11,GOVTG/E/2023/0000001,None,711170.0,GOVTG,The Role of General Administration Departmen...,My INDIAN Passport number: X7X3X4X0 \r\n\r\nMy...,NaN
12,MINHA/E/2023/0000002,{'$numberLong': '4789'},20021.0,MINHA,NaN,Home Affairs >> Award Related/Other National i...,NaN

In [17]:
subdf1 = data[data['v7_target']=='Yes']
subdf2 = data[data['v7_target']=='No']
subdf = pd.concat([subdf1,subdf2]) 
subdf.head()

,_id,CategoryV7,UserCode,org_code,remarks_text,subject_content_text,v7_target
6,MODEF/E/2023/0000001,{'$numberLong': '20493'},408844.0,MODEF,Son is eligible for dependent CSD Smart Card ...,Defence >> Canteen Stores Depot related >> Non...,Yes
7,DEPOJ/E/2023/0000002,{'$numberLong': '5270'},951216.0,DEPOJ,S.P/kkLR.No.P3//22 Dated 04.01.2023 மனுதாரர் ...,Justice >> Others\r\n-----------------------\r...,Yes
8,MEAPD/E/2023/0000001,{'$numberLong': '1441'},711170.0,MEAPD,"As per the HCI, Wellington, the service sough ...",External Affairs >> Others\r\n----------------...,Yes
9,DORLD/E/2023/0000001,{'$numberLong': '5073'},20318.0,DORLD,ग्रामीण सड़क राज्य सरकार का विषय है और राज्य ...,Rural Development >> Pradhan Mantri Gram Sadak...,Yes
13,MOPRJ/E/2023/0000001,{'$numberLong': '11142'},20318.0,MOPRJ,Grievance letter forwarded to Panchayati Raj ...,Panchayati Raj >> Panchayat Development Relate...,Yes

In [18]:
subdf.isna().sum()

_id                        0
CategoryV7                 0
UserCode                5177
org_code                   0
remarks_text            8551
subject_content_text       0
v7_target                  0
dtype: int64

In [19]:
len(subdf)

56663

In [20]:
len(data)

175784

In [21]:
data.head()

,_id,CategoryV7,UserCode,org_code,remarks_text,subject_content_text,v7_target
0,MORLY/E/2023/0000001,{'$numberLong': '11578'},110124.0,MORLY,"As per railway record, there is no authoriz...","Railways, ( Railway Board) >> Miscellaneous\r\...",No
1,GOVUP/E/2023/0000001,None,45427.0,GOVUP,NaN,XAXPX/X/X0X2X4X0X0\tREGARDING CBCID INSPECTION...,NaN
2,MOLBR/E/2023/0000001,{'$numberLong': '2369'},1356254.0,MOLBR,"Sir/Madam, With reference to Grievance no. XO...",Labour and Employment >> PF Withdrawal >> Othe...,No
3,MOLBR/E/2023/0000002,{'$numberLong': '2379'},1092136.0,MOLBR,Please submit establishment clarification let...,Labour and Employment >> Pension >> Others\r\n...,No
4,GOVUP/E/2023/0000002,None,45427.0,GOVUP,NaN,XAXPX/X/X0X2X4X0X8\tREGARDING CBCID INSPECTION...,NaN

In [22]:
data.isna().sum()

_id                          0
CategoryV7              112162
UserCode                 77687
org_code                   383
remarks_text             68880
subject_content_text         0
v7_target               119121
dtype: int64

In [23]:
data_v7_yes = data[data['v7_target']=='Yes']
data_v7_yes.head()

,_id,CategoryV7,UserCode,org_code,remarks_text,subject_content_text,v7_target
6,MODEF/E/2023/0000001,{'$numberLong': '20493'},408844.0,MODEF,Son is eligible for dependent CSD Smart Card ...,Defence >> Canteen Stores Depot related >> Non...,Yes
7,DEPOJ/E/2023/0000002,{'$numberLong': '5270'},951216.0,DEPOJ,S.P/kkLR.No.P3//22 Dated 04.01.2023 மனுதாரர் ...,Justice >> Others\r\n-----------------------\r...,Yes
8,MEAPD/E/2023/0000001,{'$numberLong': '1441'},711170.0,MEAPD,"As per the HCI, Wellington, the service sough ...",External Affairs >> Others\r\n----------------...,Yes
9,DORLD/E/2023/0000001,{'$numberLong': '5073'},20318.0,DORLD,ग्रामीण सड़क राज्य सरकार का विषय है और राज्य ...,Rural Development >> Pradhan Mantri Gram Sadak...,Yes
13,MOPRJ/E/2023/0000001,{'$numberLong': '11142'},20318.0,MOPRJ,Grievance letter forwarded to Panchayati Raj ...,Panchayati Raj >> Panchayat Development Relate...,Yes

In [24]:
data_v7_yes.isna().sum()

_id                        0
CategoryV7                 0
UserCode                4655
org_code                   0
remarks_text            6194
subject_content_text       0
v7_target                  0
dtype: int64

In [25]:
with open("abc.txt", "w", encoding="utf-8") as file:
    file.write(data_v7_yes["subject_content_text"].to_string(index=False))

In [26]:
data_v7_yes.to_json('grievance.json', index=False)

In [27]:
data_v7_no = data[data['v7_target']=='No']
data_v7_no.head()

,_id,CategoryV7,UserCode,org_code,remarks_text,subject_content_text,v7_target
0,MORLY/E/2023/0000001,{'$numberLong': '11578'},110124.0,MORLY,"As per railway record, there is no authoriz...","Railways, ( Railway Board) >> Miscellaneous\r\...",No
2,MOLBR/E/2023/0000001,{'$numberLong': '2369'},1356254.0,MOLBR,"Sir/Madam, With reference to Grievance no. XO...",Labour and Employment >> PF Withdrawal >> Othe...,No
3,MOLBR/E/2023/0000002,{'$numberLong': '2379'},1092136.0,MOLBR,Please submit establishment clarification let...,Labour and Employment >> Pension >> Others\r\n...,No
10,DOTEL/E/2023/0000001,{'$numberLong': '60'},20318.0,DOTEL,The reply of 6 numbers of PG cases by Shri Ra...,Telecommunications >> Suggestions >> Others\r\...,No
17,MOLBR/E/2023/0000003,{'$numberLong': '2398'},1356254.0,MOLBR,"With reference to member grievance , it is to...",Labour and Employment >> Transfer related issu...,No

In [28]:
data_v7_no.to_csv('data_v7_no.csv', index=False)

In [29]:
len(data_v7_yes)

19454

In [30]:
len(data_v7_no)

37209